html, body{
    background-color: #fff3f5; /* pink background */
}
table{
    background-color: white;
    border: 1px solid black;
    border-spacing: 0px 0px;
}
th, td{
    font-family: arial;
}
td{
    text-align: center;
    font-size: 32px;
    padding: 2px;
}
.pee{
    background-color: #ffff66;
}
.poo{
    background-color: #996600;
}
.fed{
    background-color: #add8e6;
}
#BabyStatChart{
    width: 90%;
    height: 90%;
    text-align: center;
    display: inline-block;
}
